@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.key {
  background-color: #eee;
  border: 1px solid #999;
  box-shadow: 
  5px 4px 4px rgba(0, 0, 0, 0.1),
  5px 4px 4px rgba(0, 0, 0, 0.1);
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 10px;
  min-width: 150px;
  padding: 20px;
  position: relative;
}

.key small {
  color: #555;
  font-size: 0.875rem;
  left: 0;
  text-align: center;
  top: -24px;
  position: absolute;
  width: 100%;
}